a:link{
    color: greenyellow;
}

a:visited{
    color: grey;
}

a:hover{
    color: blue;
}

p:hover{
    color: purple;
}


li:nth-child(even)
{
color: brown;
}

li:nth-child(3n+0)
{
    color: green;
}