#Box1{
    border: 5px solid;
    height: 100px;
    width: 200px;
    background-color: aqua;
    text-align:center;
    font-size: 100px;

    transform: translateX(50px);
    transform: translateY(40px);
    transform: rotateX(180deg);
    transform: scaleX(3);
    transform: scaleY(2);
    transform: skew(60deg);
}

body{
    background-color: grey;
}
